@mixin dark-section() {
  color: $font-color-light;
  background-color: $primary-color;
}

@mixin light-section() {
  color: $font-color-dark;
}

@mixin regular-shadow() {
  box-shadow: 0 80px 80px -80px rgb(0, 0, 0);
}
