// Colors
$primary-color: #111;
$bg-color-light: #fff;

$font-color-light: #fff;
$font-color-dark: #242b37;
$font-color-secondary:#5c6779;
$font-color-secondary-muted:#5c67797e;
$font-color-aside: #5c6779;
$font-color-alert: #b54949;

$bg-pattern-color: #9e7f66;

// Layout
$break-point-lg: 1155px;
$break-point-md: 820px;
$break-point-sm: 375px;

$feature-offset: -57px;
$feature-offset-fix: 30px;

@media screen and (max-width: $break-point-md) {
  $feature-offset: -97px !global;
}

@media screen and (max-width: $break-point-sm) {
  $feature-offset: -72px !global;
}
