.hero-section {
  @include dark-section;
  width: 100%;
  height: 820px;

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 78px 165px;
    position: relative;
  }
}

@media screen and (max-width: $break-point-md) {
  .hero-section {
    height: auto;

    .container {
      padding: 0 40px;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: $break-point-sm) {
  .hero-section {
    .container {
      padding: 0 24px;
    }
  }
}

// Introduction Styles
.introduction {
  max-width: 521px;
  position: relative;
  z-index: 10;

  .logo {
    margin-bottom: 153px;
    margin-left: 2px;
  }

  p {
    max-width: 445px;
    margin: 10px 0 40px;
  }
}

@media screen and (max-width: $break-point-md) {
  .introduction {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      margin: 48.7vw 0 38px;
    }

    h1 {
      text-align: center;
      max-width: 327px;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      max-width: 573px;
      margin-bottom: 52px;
    }

    > :last-child {
      margin-bottom: 216px;
    }
  }
}

@media screen and (max-width: $break-point-sm) {
  .introduction {
    .logo {
      width: 82px;
      margin: 61.87vw 0 36px;
    }

    h1 {
      max-width: 200px;
      margin-bottom: 21px;
    }

    p {
      margin-bottom: 53px;
    }

    > :last-child {
      margin-bottom: 152px;
    }
  }
}

// Hero Image Styles
.hero-image {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: $break-point-md) {
  .hero-image {
    display: block;
    width: 100%;
  }
}
