// Reservation Section
.reservation-section {
  color: $font-color-light;
  padding: 65px 165px;
  position: relative;

  .container {
    max-width: 1110px;
    margin: 0 auto;
  }

  header {
    margin-bottom: 150px;
  }

  .bg-pattern-curve {
    position: absolute;
    top: 600px;
    left: 0;
    z-index: -1;
    max-width: 100%;
  }
}

.reservation-section__bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}

@media screen and (max-width: $break-point-md) {
  .reservation-section {
    padding: 56px 39px 0;

    header {
      margin-bottom: 70px;
    }
  }

  .bg-pattern-curve {
    display: none;
  }
}

@media screen and (max-width: $break-point-sm) {
  .reservation-section {
    padding: 56px 24px 0;

    header {
      margin: 0 auto 44px;
      text-align: center;

      .logo {
        margin-bottom: 0;
      }
    }
  }
}

// Reservation Wrapper
.reservation-wrapper {
  @include flex-row($align-items: flex-start);
  gap: 38px 10px;
}

.reservation-info {
  max-width: 440px;
}

@media screen and (max-width: $break-point-md) {
  .reservation-wrapper {
    @include flex-col;
    gap: 38px;
  }

  .reservation-info {
    max-width: 570px;
    text-align: center;
  }
}

@media screen and (max-width: $break-point-sm) {
  .reservation-wrapper {
    gap: 91px;
  }

  .reservation-info {
    h1 {
      margin-bottom: 13px;
    }
  }
}
