.feature {
  height: 720px;
  padding: 0 50px;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  &:last-child {
    margin-bottom: $feature-offset;

    .feature-image {
      margin-top: 70px;
    }
  }
}

.feature-img-left {
  flex-direction: row-reverse;
}

.feature-image {
  max-width: 540px;
  object-fit: cover;
  box-shadow: 0 80px 80px -80px rgb(0, 0, 0);
}

.feature-description {
  max-width: 445px;
  margin-top: $feature-offset-fix;
  margin: 0 20px;

  h2 {
    margin: 55px 0 27px;
  }
}

@media screen and (max-width: $break-point-md) {
  .feature,
  .feature-img-left {
    flex-direction: column-reverse;
  }

  .feature {
    text-align: center;
    height: auto;
    padding: 0 24px;
    margin-bottom: 118px;

    &:last-child {
      .feature-image {
        margin-top: 0;
      }

      .feature-description {
        margin-bottom: 118px;
        margin-left: 0;
      }
    }
  }

  .feature-image {
    width: 100%;
  }

  .feature-description {
    margin-top: 56px;

    h2 {
      margin-top: 39px;
    }
  }
}

@media screen and (max-width: $break-point-sm) {
  .feature {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 100px;

    &:last-child {
      .feature-description {
        margin-bottom: 100px;
      }
    }
  }

  .feature-image {
    box-shadow: 0 40px 40px -40px rgb(0, 0, 0);
  }

  .feature-description {
    max-width: 445px;
    margin-top: 48px;
    margin-left: 0;

    h2 {
      margin: 36px 0 13px;
    }
  }
}
