// Partials
@import "./partials/base";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/components";

// Sections
@import "./sections/hero-section";

// Feature section
.feature-section {
  width: 100%;
  position: relative;

  .container {
    max-width: 1110px;
    margin: 0 auto;
  }

  > :first-child {
    margin-top: $feature-offset;
  }
}

// Feature
.feature {
  height: 720px;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  &:last-child {
    margin-bottom: $feature-offset;

    .feature-image {
      margin-top: 100px;
    }
  }
}

.feature-img-left {
  flex-direction: row-reverse;
}

.feature-image {
  max-width: 540px;
  object-fit: cover;
  box-shadow: 0 80px 80px -80px rgb(0, 0, 0);
}

.feature-description {
  max-width: 445px;
  margin-top: $feature-offset-fix;
  margin-left: 20px;

  h2 {
    margin: 55px 0 27px;
  }
}

// Background Patterns
.bg-pattern-top-left {
  position: absolute;
  top: 320px;
  left: 0;
}

.bg-pattern-bottom-right {
  position: absolute;
  bottom: $feature-offset-fix;
  right: 0;
}

.bg-pattern-lines {
  position: absolute;
  right: -8vw;
  top: 330px;
}
